* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-weight: 400;
  font-size: 62.5%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --document-height: var(--document-height); */

  --color-dark: #000;
  --color-light: #fff;
  --bg-size-end: 4.2;
  --dur: 0.3s;
}

html, button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  /* Not supported in Safari */
  scrollbar-gutter: stable;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  min-height: 100dvh;
}

#editor.hidden, #preview.hidden {
  display: none;
}

main {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  max-width: 832px;
  min-width: 375px;
  margin: 0 auto;
}

.container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  /* height: var(--document-height); */
  width: 100%;
  max-width: 832px;
  min-width: 375px;
  margin: 0 auto;
  background-color: #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  overflow: hidden;

  #editor, #preview {
    flex: 1;
    width: 100%;
    /* height: var(--document-height); */
    resize: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    background-color: #e4e4e4;
    border: 0;
  }

  #editor {
    padding: 2rem;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  #preview {
    padding: 1rem 2rem;
  }
}

/* Action Buttons aside */
aside.action-buttons {
  position: sticky;

  .question-info {
    color: #b9b9b9;
    text-decoration: underline;
    cursor: pointer;
  }

  button,
  div[role='button'] {
    width: 100%;
    height: 60px;
    font-size: 1.6rem;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }

  button {
    background-color: #3f3f3f;

    &:disabled {
      background-color: #1e1e1e;
      color: #000;
      cursor: not-allowed;
    }

    &.success {
      background-color: #2e7d32;
      transition: background-color 0.3s;
    }
  }
  
  div[role='button'] {
    background-color: transparent;
    border: 1px solid #3f3f3f;

    label {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
      height: 100%;
      width: 100%;
      padding-left: 2rem;
      cursor: pointer;

      div {
        display: flex;
        flex-direction: column;

        small {
          color: #b9b9b9;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  main {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  aside.action-buttons {
    top: 0;
    display: flex;
    gap: .5rem;
    padding: 1rem .5rem;
    background-color: #121212;

    div[role='button'] label {
      gap: 1rem;
      padding: 0;
      justify-content: center;

      small {
        display: none;
      }
    }

    .question-info {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    max-width: 900px;
  }

  aside.action-buttons {
    top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 500px;
    width: 160px;
    text-align: center;
  }
}

#btnCopyUrl {
  position: relative;
  overflow: hidden;

  .layer {
    display: none;

    span.copied {
      opacity: 0;
      font-weight: bold;
    }
  }
  
  &.fill-btn {
    .layer {
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      place-content: center;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #14b789 0 50%, transparent 50% 100%);
      background-size: 200%;
      background-position: 100%;
  
      animation-name: fillOutFrames;
      animation-duration: 1.5s;
      animation-iteration-count: 1;

      span.copied {
        animation: fillOutCopied;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
      }
    }
  }
}

@keyframes fillOutFrames {
  0% {
    background-position: 100%;
  }
  20% {
    background-position: 0%;
  }
  80% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes fillOutCopied {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Action Buttons in header */
