:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 62.5%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* Not supported in Safari */
  scrollbar-gutter: stable;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
  min-height: 100dvh;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: .6rem 0;
  text-align: center;
}

.hidden {
  display: none;
}

header {
  height: auto;
  width: 50%;
  max-width: 768px;
  padding: 1rem 0;
  margin: 0 auto .5rem;
}

.btn-section {
  display: flex;
  justify-content: start;
  gap: .5rem;
}

button {
  padding: .5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  height: 100%;
  width: 50%;
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  overflow: hidden;

  #editor, #preview {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    resize: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    background-color: #e4e4e4;
    border: 0;
  }

  #editor {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
